#post
  #post_username
    .email
      = post.user.email
  #post_title
    .title
      = post.title
  #post_message
    .message  
      = post.message
    
  #reply_box
    - @replies = post.replies
    = render :partial => 'post', :collection => @replies
    
  #actions
    = link_to('Reply', reply_post_path(:reply_id => post.id), :method => 'post')